Write a function compute_dist() that accepts a list of values as input and outputs a dictionary
storing the distribution of the data represented by the list. Here, distribution means tracking how
many times each element is appearing in the given list.

In [ ]:

l = list(map(int , input().split()))
def compute_dict(l):
  unq = set(l)
  d = {}
  for each in unq:
    d.update({each : l.count(each)})
  return(d)
cnt_dict = compute_dict(l)
print(cnt_dict)

12 12 12 1 2
{1: 1, 2: 1, 12: 3}

There is a data set named 'Balance scale data' in UCI.
Link: https://archive.ics.uci.edu/ml/datasets/balance+scale
Load this data into your code by making use of Pandas Module.
Explore this data set by applying relevant functions from pandas on it. 
A few example exploration
tasks are given below:
Check the number of data points and features in the data.                     
Find unique values for each column.
Check the data types of values in each column.
Check basic statistics of data.
Add a new column in the data.
Then drop this column just created.
create a new column that has values found as a result of applying some operation on the
existing columns
Access elements using loc and iloc.
Check if there are missing values. If yes, which column.

In [ ]:
import pandas as pd
column_names = ["Class Name","Left-Weight","Left-Distance","Right-Weight","Right-Distance"]

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data" ,names = column_names )
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [ ]:
#featutes 
df.columns

Index(['Class Name', 'Left-Weight', 'Left-Distance', 'Right-Weight',
       'Right-Distance'],
      dtype='object')

In [ ]:
#no of data points
df.size

3125

In [ ]:
arr_1 = df["Left-Weight"].unique()
print(arr_1)

[1 2 3 4 5]

In [ ]:
#data type of each Colulum
df.dtypes

In [ ]:
#Calculate Basic Statistics
df.describe()

In [ ]:
df.index

NameError: ignored

In [ ]:
#add new column
df["Dummy"] = [i for i in range(0,625)]
df

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Dummy
0,B,1,1,1,1,0
1,R,1,1,1,2,1
2,R,1,1,1,3,2
3,R,1,1,1,4,3
4,R,1,1,1,5,4
...,...,...,...,...,...,...
620,L,5,5,5,1,620
621,L,5,5,5,2,621
622,L,5,5,5,3,622
623,L,5,5,5,4,623
624,B,5,5,5,5,624

In [ ]:
# Drop the Colum just Created 
df.drop("Dummy" , axis = 1)

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [ ]:
df["Total_Weight"] = df.loc[:,["Left-Weight","Right-Weight"]].sum(axis = 1)
# df["Total_Weight"] = df["Left-Weight"]+ df["Right-Weight"]
df

In [ ]:
#Acessing the elements
d1 = df.loc[:,["Right-Weight","Left-Weight"]]
d1

In [ ]:
d2 = df.iloc[0:5 , 0:5]
d2

In [ ]:
c1 = df["Right-Weight"]
c1

In [ ]:
# check there are any null values
df.isnull().sum()